@page "/todolist"
@using TodoListWebWasm.Components;

<h3>Todo List</h3>

@if (Tasks == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="row mt-4">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Priority</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Tasks)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.AssigneeName</td>
                            <td>@item.Priority</td>
                            <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm tt")</td>
                            <td>@item.Status</td>
                            <td>
                                <a href="/taskDetails/@item.Id">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}